{% extends "base.html" %}

{% block title %}
All Photos
{% endblock %}


{% block content %}

<a class="button" href="/gallery">
    ← Gallery
</a>

<h1>📸 All photos</h1>

<div class="gallery">

    {% for person, file in files %}

    {% if file.suffix.lower() in [".jpg", ".jpeg", ".png", ".webp", ".heic", ".heif"] %}

    <a href="/photo/{{ person }}/{{ file.name | urlencode }}">
        <img src="/thumbnail/{{ person }}/{{ file.stem | urlencode }}.jpg">
    </a>

    {% elif file.suffix.lower() in [".mp4", ".mov"] %}

    <video controls width="300">
        <source src="/video/{{ person }}/{{ file.name | urlencode }}">
    </video>

    <a href="/download/{{ person }}/{{ file.name | urlencode }}">
        Download
    </a>

    {% endif %}

    {% endfor %}

</div>

{% endblock %}