{% extends "base.html" %}

{% block title %}
Upload Photos
{% endblock %}


{% block content %}

<h1>📸 Wedding Photos</h1>

<form id="upload-form">

    <label>
        Nombre/Name:
        <input name="first_name" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ]+" title="Nombre/Name">
    </label>

    <br><br>

    <label>
        Apellido/Last name:
        <input name="last_name" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ]+" title="Apellido/Last Name">
    </label>

    <br><br>

    <label>
        Select photos/videos:
        <input id="files" type="file" name="files" multiple accept="image/*,video/*" required>
    </label>

    <br><br>

    <button type="submit">
        Upload
    </button>

</form>

<p id="status"></p>


<script>

    const form = document.getElementById("upload-form");
    const status = document.getElementById("status");

    form.addEventListener("submit", function (event) {

        event.preventDefault();

        const files = document.getElementById("files").files;

        status.innerText =
            `Uploading 0 / ${files.length} files`;

        const data = new FormData(form);

        const xhr = new XMLHttpRequest();

        xhr.open("POST", "/upload");


        xhr.upload.onprogress = function (event) {

            if (event.lengthComputable) {

                const percent =
                    Math.round(
                        (event.loaded / event.total) * 100
                    );

                status.innerText =
                    `Uploading... ${percent}% (${files.length} files)`;
            }
        };


        xhr.onload = function () {

            document.open();
            document.write(xhr.responseText);
            document.close();

        };


        xhr.send(data);

    });

</script>


{% endblock %}