{% extends "base.html" %}

{% block title %}
{{ person }}
{% endblock %}


{% block content %}

<a class="button" href="/gallery">
    ← People
</a>

<h1>{{ person }}</h1>

<div class="gallery">

    {% for file in files %}

    {% if file.suffix.lower() in [".jpg", ".jpeg", ".png", ".webp"] %}

    <a href="/photo/{{ person }}/{{ file.name }}">
        <img src="/thumbnail/{{ person }}/{{ file.stem }}.jpg">
    </a>

    {% elif file.suffix.lower() in [".mp4", ".mov"] %}

    <video controls width="300">
        <source src="/video/{{ person }}/{{ file.name }}">
    </video>

    <a href="/download/{{ person }}/{{ file.name }}">
        Download
    </a>

    {% endif %}

    {% endfor %}

</div>

{% endblock %}